{% extends 'photos/base.html' %} {% block content %}
<section class="no-touch">

  <div class="style-image">
      {% for image in images %}
    <a href="{% url 'single_photo' image.id %}">
    <div class="container-image">
      <div class="boxInner">
          <div class="titleBox" style="font-family: 'Cabin Sketch', cursive">{{image.Image_Name|upper}}</div>
        <img src="{{image.Image.url}}"  class="img-responsive" class="rounded">
        
      </div>
    </div>
    </a>
    {% endfor %}

  </div>

</section>

{% endblock %}
