{%extends 'photos/base.html'%} 
{% block content %}
<div class="container">
  <div class="row">
    {% if photos%}
      <h2>Found {{ photos|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 photos for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if photos %}
    {% for photo in photos %} 
      <div class="image_search">
          <img src="{{photo.Image.url}}" alt="" />
          </div>
    </div>
    <div class="content">
        <div >
            <p>image name:{{photo.Image_Name}}</p>
        </div>
        <div >
            <p>image description:{{photo.Image_Description}}</p>
        </div>
        <div >
            <p>image category:{{photo.Image_Category}}</p>
        </div>
        <div >
            <p>image date posted:{{photo.Image_date}}</p>
        </div>
    </div>
    
      
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}